/*navbar*/
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #27283c;
    padding: 1.5rem 1rem;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 10px;
    justify-content: space-around;
    align-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.logo {
    border-radius: 50%;
    width: 10%;
    height: 5%;
}

nav ul li a:hover {
    color: #ba54f5;
}

.toggle {
    text-align: right;
    display: none;
}

@media(max-width:952px) {
    .toggle {
        display: block;
    }

    nav ul {
        width: 100%;
        display: none;
    }

    nav ul li {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 5px;
    }

    .active {
        display: block;
    }
}

/*footer*/
footer {
    background: #151519;
    color: white;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0rem;
}

.social-links ul li a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.social-links ul li a:hover {
    color: #ba54f5;
}

h2 {
    font-size: 1.6rem;
    color: rgb(128, 128, 131);
}

.contact ul li a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.contact ul li a:hover {
    color: #ba54f5;
}

.visit ul p {
    line-height: 30px;
}

.visit ul p:hover {
    color: #ba54f5;
}

.copyright {
    text-align: center;
}

@media(max-width:952px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        padding: 0 1rem;
    }

    .visit ul p {
        margin-left: -35px;
    }
}