body {
    margin: 3%;
    padding: 0;
    background-color: white;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    scroll-behavior: smooth;
}

main {
    color: rgb(131, 124, 124);
    opacity: 0.9;
}

main h1 {
    margin-left: 1.7rem;
}

.application-container {
    /* margin-left: 2%;*/
    /*margin-right: 2%;*/
    /* width: 100%;*/
    height: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 1rem;
    justify-items: stretch;
    align-items: stretch;
    background-color: #27283c;
    border-radius: 3%;
}

.form-group {
    margin: 1rem;
}

.form__container {
    width: 100%;
    margin-left: 0;
}

.form-group label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 2rem;
}

.progLanguage--span__width {
    display: inline-block;
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.radio-btn {
    display: inline-block;
    margin-bottom: 0.1rem;
    margin-left: 1rem;
}

.text-content2 {
    margin-top: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    resize: vertical;
}

.application__image {
    /*position: relative;*/
    background-image: url("cropped-720-1520-665091.jpg");
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.application__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.application__image-text {
    /* position: absolute;*/
    z-index: 5;
    top: 50%;
    color: #fff;
    font-size: 1.5rem;
    padding-left: .5rem;
}

input[type=radio],
input[type=text],
input[type=tel],
input[type=email] {
    background-color: transparent;
    border: 2px solid #de4fcd;
    color: #fff;
}

textarea {
    background-color: transparent;
    border: 2px solid #de4fcd;
}

input[type=submit],
input[type=reset] {
    border: 2px solid #de4fcd;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #de4fcd;
    color: #fff;
}

input[type=checkbox],
input[type=radio] {
    background-color: transparent;
    accent-color: #de4fcd;
}

@media screen and (max-width: 768px) {
    .application-container {
        grid-template-columns: 1fr;
    }
    .application_col--1 {
        display: none;
    }
    .application_col--2 {
        display: block;
    }
    .progLanguage--span__width {
        display: block;
        width: 40%;
        overflow: hidden;
    }
    h1 {
        text-align: center;
    }
}


}