@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700,700i,800|Open+Sans:400,400i,600,600i,700,700i,800&display=swap);

/* Primary colors
#27283c -- dark
#ffffff --- white

secondary colors
de4fcd --- purple
ba54f5 --  dark purple

Others
color: 2277cb; -- neon blue
color:00d4d3;-- teal
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.card__profileimg {
  height: 400px;
  object-fit: cover;
}

/* modal window */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  display: flex;
}
.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.modal-header h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #27283c;
}
.btn {
  background-color: #27283c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
