@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700,700i,800|Open+Sans:400,400i,600,600i,700,700i,800&display=swap);

/* Primary colors
#27283c -- dark
#ffffff --- white

secondary colors
de4fcd --- purple
ba54f5 --  dark purple

Others
color: 2277cb; -- neon blue
color:00d4d3;-- teal
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.card__profileimg {
  height: 400px;
  object-fit: cover;
}

.skill__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill {
  height: 160px;
  width: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  /* border: 1px solid rebeccapurple; */
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rebeccapurple; */
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number .number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  /* stroke: cornflowerblue; */
  stroke: #7cfc00;
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 165;
  }
}
/* modal window */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  display: flex;
}
.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.modal-header h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #27283c;
}
.btn {
  background-color: #27283c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* card */
#user--image {
  height: 230px;
  width: 200px;
  border-radius: 50%;
}
