.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}
body {
  overflow-x: hidden;
}
.bi {
  color: #198754;
}
.card-icons__gray {
  background-color: #181818;
}
