@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #27283c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .card__content .card__content__image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 2px;
  background-color: #ba54f5;
}

.container .card .card__content .card__content__image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.container .card {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  margin: 20px 0;
}

.card::before {
  content: "";
  position: absolute;
  background-color: #ba54f5;
  height: 40%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.container .card .card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  position: relative;
  z-index: 100;
}

.card__content .card__content__media-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card__content .card__content__media-icons i {
  color: #fff;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.card__content .card__content__media-icons i:hover {
  opacity: 1;
  cursor: pointer;
}

.card .card__content .card__content__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.card__content__progress-chart {
  display: flex;
  justify-content: center;
  background-color: transparent;
  min-height: 30%;
}
.card__content__progress-chart .chart-container {
  padding: 10px;
}
.card__content__progress-chart .chart-container .back {
  stroke: #8d99ae;
  stroke-width: 10;
}
.card__content__progress-chart .chart-container .front {
  stroke: #08415c;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 395.84;
  transform: rotate(-90deg);
  transform-origin: center;
}
.card__content__progress-chart .chart-container .text {
  font-size: 32px;
  fill: #063045;
}
